body{
height: 100%;
width: 100%;
background-color: #ffffff;
margin: 0 auto; /*tira a borda do site*/
}

ul{
padding: 0px!important;
}

.menuPrincipal{
width: 100%;
background-color: #252323;
height: 60px;
}

main, .content{
margin: 0 auto;
width: 980px;
position: relative;
}

.logo{
width: 70%;
float: left;
padding: 15px;
}

.redesSociais ul li{
margin-left: 25px; /*espaço entre as logos*/
display: inline-block; /* alinha, coloca um do lado do outro*/
}

.redesSociais {
width: 25%;
float: right;
}

.header2{
background-color: #ffffff;
width: 980px;
margin: 0 auto;
padding: 16px;
}

.menuUrl{
height: 80px;
border-bottom: solid 3px #efefef;
}

.menu ul li{
display: inline-block;
color: #8b8b8b;
margin-left: 15px;
height: 50px;
}
.menu ul li:hover{
border-bottom: 3px solid #00bac6 ;
}

.menu ul li a:hover{ /* hover é efeito quando passas o cursor do mouse*/
color: #00bac6;
}

.menu ul li a{
color: #8b8b8b;
text-decoration: none; /*tira risquinho ___ de link*/
font-size: 18px;
text-transform: uppercase; /*deixa todas as letras maiusculas*/
}

.menu {
float: left;
width: 70%;
}

.busca{
text-align: center;
float: right;
width: 30%;
}

.busca input{
background-image: url('../img/search.png');
background-repeat: no-repeat;
background-position: 96%;
height: 36px;
width: 190px;
padding-left: 10px;
margin-top: 0px;
border: solid 1px #d6d6d6;
}

.col100{
float: left;
width: 100%;
position: relative;
}

button.slick-prev{
font-size: 0px;
border: none;
z-index: 9; /*subir a camada*/
height: 51px;
width: 25px;
position: absolute; /*absolute é quando o 'botão' não depende de nenhum outro elemento*/
background-color: transparent;
background-image: url(../img/anterior.png);
top: 35%;
left: 14%;
}

button.slick-next{
font-size: 0px;
border: none;
z-index: 9; 
height: 51px;
width: 25px;
position: absolute;
background-color: transparent;
background-image: url(../img/proximo.png);
top: 35%;
right: 14%;
}

.slick-initialized{
overflow: hidden;
}

.slick-dots li button{
font-size: 0px;
height: 15px;
width: 15px;
background-color: transparent;
border-radius: 50%;
border: 3px solid #ffffff;
cursor: pointer;
}

.slick-dots{
margin: 0 auto;
width: 50%;
position: absolute;
left: 47%;
top: 600px;
}

.slick-dots li{
padding-left: 10px;
display: inline-block;
}

li.slick-active button{
background-color: #00bac6
}

.textoDestaque {
text-align: center ;
}

.textoDestaque h1{
color: #818181;
font-size: 30px;
text-transform: uppercase;
}

.textoDestaque strong{
color: #646464;
}

.textoDestaque p{
color: #9a9a9a;
font-size: 15px;
}

.col3{
padding-left: 15px;
padding-right: 15px;
width: 29%;
float: left;
position: relative;
}

.borda{
padding-top: 55px;
}

.blocoTexto{
    margin-top: 3em;
}

.blocoImagem img {
    margin: 0 auto;
    width: 100%;
    height: 180px;
}

.blocoImagem {
    height: 300px;
    width: 310px;
    border: 1px solid #c5c5c5;
    padding-bottom: 15px;
    margin-left: 10px;
    display: inline-block;
}

.blocoImagem b, p {
    font-size: 14px;
    color: #818181;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.blocoTexto {
    margin-top: 3em;
}

h3 {
    font-weight: normal!important;
    color: #7b7b7b;
}

.blocoImagensTexto {
    background-color: #eeeeee;
    display: inline-block;
}

.blocoImagensTexto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background: #ffffff;
    background-image: url('../img/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}

.blocoImagensTexto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 70px;
    background: #eeeeee;
}